<!--{ label: Shopping Cart }-->
<!--{ pos: 50 }-->
<!--{ model_new_hide: true }-->
<!--{ async: true }-->

{% set m = THIS.get('model') %}
{% set hlp = APP.instance('Sellvana_Sales_Admin_Controller_Carts') %}
{{ THIS.view('core/backbonegrid').set('grid', hlp.customerCartsGridConfig(m)) | raw }}