{% set c = THIS.get('model') %}
{% set paymentMethods = UTIL.arrayToOptions(APP.instance('Sellvana_Sales_Main').getPaymentMethods(), '.getName') %}
{% set shippingMethods = UTIL.arrayToOptions(APP.instance('Sellvana_Sales_Main').getShippingMethods(), '.getName') %}
{% set countries = APP.instance('FCom_Core_Main').getAllowedCountries() %}
{% set defCountry = APP.instance('FCom_Core_Main').getDefaultCountry() %}
{% set fieldData = { model: c, settings_module:'Sellvana_Sales' } %}
{% import THIS.view('core/form-elements').twigName() as forms %}
<h2>{{ "Sales Settings"|_}}</h2>
{{ forms.accordion_start({id:'settings-Sellvana_Sales'}) }}
    {{ forms.accordion_panel_start({label:'Defaults'|_, id:'settings-Sellvana_Sales-group0', in:1}) }}
        {{ forms.select(fieldData, {field:'default_shipping_method', label:'Default Shipping Method'|_, options: shippingMethods }) }}
        {{ forms.select(fieldData, {field:'default_payment_method', label:'Default Payment Method'|_, options: paymentMethods }) }}
    {{ forms.accordion_panel_end }}

    {{ forms.accordion_panel_start({label:'Store Origin'|_, id:'settings-Sellvana_Sales-group1'}) }}
        {{ forms.input(fieldData, {field:'store_city', label:'Store City'|_ }) }}
        {{ forms.input(fieldData, {field:'store_region', label:'Store State / Region'|_ }) }}
        {{ forms.input(fieldData, {field:'store_postcode', label:'Store Zip / Postal Code'|_ }) }}
        {{ forms.select(fieldData, {field:'store_country', label:'Store Country'|_, options:countries, default:defCountry }) }}
    {{ forms.accordion_panel_end }}

    {{ forms.accordion_panel_start({label:'Carts'|_, id:'settings-Sellvana_Sales-group2'}) }}
        {{ forms.input(fieldData, {field:'cart_cookie_token_ttl_days', label:'Cart Cookie TTL (days)'|_, attr: 'data-rule-number="true"' }) }}
    {{ forms.accordion_panel_end }}

    {{ forms.accordion_panel_start({label:'Orders'|_, id:'settings-Sellvana_Sales-group3'}) }}
        {{ forms.input(fieldData, {field:'order_number', label:'Define starting order number'|_, required:1,attr: 'data-rule-number="true"'}) }}
        {{ forms.input(fieldData, {field:'recent_day', label:'Dashboard Orders Recent Days'|_, attr: 'data-rule-number="true"' }) }}
    {{ forms.accordion_panel_end }}

{{ forms.accordion_end }}

<script>
    require(['jquery', 'jquery.validate'], function ($) {
        $('#Sellvana_Sales-order-number').rules('add', {
            required: true,
            maxlength: 14,
            remote: {
                url: '{{ APP.href('orders/validate_order_number') }}',
                async: false,
                type: 'post',
                dataFilter: function (response) {
                    var res = $.parseJSON(response);
                    $.validator.messages.remote = res.messages;
                    return res.status;
                }
            }
        });
    })
</script>
