{% set m = THIS.get('model') %}
{#{% set prodAttachConfig = APP.instance('Sellvana_Catalog_Admin_Controller_Products').productAttachmentsGridConfig(m) %}#}
{% set prodAttachConfig = APP.instance('Sellvana_Catalog_Admin_Controller_Products').productAttachmentsGridConfigForGriddle(m) %}

{% set type = 'attachments' %}
{% set targetType = 'product' %}
{% set medialibConfig = {
    id: 'all_' ~ type,
    type: 'product-attachments',
    config: {actions: {delete: {caption : 'Remove'}}}
} %}

{% set attachmentsConfig = {
    type: type,
    targetType: targetType,
    elementContainer: '#tab-attachments',
    medialibConfig: medialibConfig,
    gridConfig: prodAttachConfig
} %}

{#{{ THIS.view('core/attachmentgrid').set('config', attachmentsConfig) | raw }}#}
{{ THIS.view('core/attachmentgrid-griddle').set('config', attachmentsConfig) | raw }}
