/*
 * Fulleron Base
 * Copyright 2013 Fulleron Inc.
 * License info pending
 */

/*------------------------------------*\
   BOOTSTRAP RESETS
\*------------------------------------*/

/* Breadcrumb */
.breadcrumb {
  margin:10px 0;
  }
  
/* Nav */
.nav > li > a { padding:7px 13px; }

/* List */
.list-group-item a {
  display:block;
  }
.list-group-item.active a {
  color:#fff;
  }

/* Forms */
label { margin-bottom:2px; }
.form-control {
  border-radius:3px;
  padding:4px 6px;
  }
.form-control:focus {
  border-color: #999;
  -webkit-box-shadow:none;
  box-shadow:none;
  }
label.control-label.required:after {
  content:"*";
  padding-left:3px;
  }
label.error {
  display: block;
  margin-top: 5px;
  color: #ca0000;
  font-weight: bold;
  font-size: 13px;
  }
label.success {
    display: block;
    margin-top: 5px;
    color: #468847;
    font-weight: bold;
    font-size: 13px;
}
  
/* Alerts */
.alert {
  border:none;
  padding:10px 13px;
  font-size:.95em;
  }
.alert h4 {
  font-size:1.05em;
  margin-bottom:4px;
  }
.alert-info {
  color:#555;
  border-color:#eee;
  background:#f5f5f5;
  }
.alert-dismissable .close { right:0; }

/* Glyphicons */
.glyphicon-shopping-cart {
  /* Flips shipping icon to face right. Comment this out if not using bootstrap 3 default shopping cart icon */
 -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
  }

/* Modal */
.modal.in .modal-dialog,
.modal.fade .modal-dialog {
  -webkit-transform:none;
  -ms-transform:none;
  transform:none;
  -webkit-transition:none;
  -moz-transition:none;
  -o-transition:none;
  transition:none;
  }

/* Table */
.table th,
.table td,
.table thead > tr > th,
.table tbody > tr > th,
.table tfoot > tr > th,
.table thead > tr > td,
.table tbody > tr > td,
.table tfoot > tr > td {
  vertical-align:top;
  }
.table tbody > tr > th {
  background:#f4f4f4;
  }
  
/*------------------------------------*\
   PERSISTENT
\*------------------------------------*/

.f-catalog-navbar {
  z-index:999;
  }
.f-site-main {
  min-height:300px;
  }
  

/*------------------------------------*\
   WIDGETS & COMPONENTS
\*------------------------------------*/

/* General */
.f-widget-header {
  padding-bottom:7px;
  text-align:right;
  }
.f-widget-header .f-widget-title {
  float:left;
  }
  
/* Mini Cart */
.f-header-mini-cart-trigger > .dropdown-toggle {
  color:#0452a1;
  font-weight:bold;
  }
.f-mini-cart {
  width:250px;
  padding:5px 0 10px;
  }
.f-mini-cart .f-widget-content {
  padding-right:15px;
  padding-left:15px;
  }
.f-mini-cart .f-widget-content li {
  list-style:none;
  }
.f-mini-cart .f-widget-content li > a {
  display:block;
  white-space:normal;
  padding:5px 15px;
  }
.f-mini-cart .f-widget-content li .media,
.f-mini-cart .f-widget-content li .media-body {
  overflow:visible;
  }
.f-mini-cart .f-widget-content li .media {
  padding-left:65px;
  }
.f-mini-cart .f-widget-content li .media-object {
  margin-left:-65px;
  }
.f-mini-cart .f-widget-content li .f-qty {
  color:#888;
  font-size:.9em;
  }
.f-mini-cart .f-widget-content h4 {
  font-size:1em;
  }
.f-mini-cart .f-widget-content .f-price-group {
  margin-bottom:3px;
  }
.f-mini-cart .f-widget-content .f-subtotal {
  border:1px solid #eee;
  border-width:1px 0;
  margin:7px 0;
  padding:5px 10px;
  font-weight:bold;
  font-size:1.05em;
  text-align:center;
  }
.f-mini-cart .f-widget-content .btn-group {
  display:block;
  }
.f-mini-cart .f-widget-content .btn {
  float:none;
  width:100%;
  }
.f-mini-cart .f-widget-content .f-mini-cart-empty-text {
  padding:0 15px;
  }

/* Product Listing */
.f-prod-listing .f-col-listing-prod-img .f-prod-quickview-btn {
  display:none;
  }
.f-prod-listing-toolbar .btn-group .btn {
  background:none;
  }
.f-prod-listing-toolbar .f-search-pages-pagination .glyphicon {
  top:0;
  font-size:9px;
  }
.f-prod-listing-toolbar select.form-control {
  width:auto;
  font-size:13px;
  }
.f-prod-listing-toolbar .control-label {
  display:inline-block;
  font-weight:bold;
  }
.f-prod-listing-toolbar .btn-group .btn.active {
  background:#ddd;
  color:#444;
  }
.f-prod-listing-toolbar .btn-group .btn .glyphicon {
  margin-right:0;
  }
.f-prod-listing .f-prod-img {
  display:block;
  }
.f-prod-listing .f-prod-img img {
  width:100%;
  }
.f-prod-listing .f-prod-name {
  display:block;
  margin:3px 0;
  font-size:.9em;
  line-height:1.4em;
  }
.f-prod-listing .f-price-group {
  margin:.4em 0;
  }
.f-prod-listing .f-price-group .f-price-label {
  font-size:.95em;
  }
.f-prod-listing-grid .caption .btn-primary {
  width:100%;
  }
.f-prod-listing-grid .btn-link {
  width:100%;
  font-size:.9em;
  }
.f-prod-listing-grid .thumbnail {
  border:none;
  border-radius:0;
  padding:0;
  }
.f-prod-listing-rows .row {
  margin-top:1em;
  margin-bottom:1.5em;
  }
.f-prod-listing-rows .f-col-listing-prod-img {
  margin-bottom:.5em;
  }
.f-prod-listing-rows .f-prod-name {
  font-size:1.15em;
  }
.f-prod-listing-rows .f-prod-short-description {
  margin:0 0 1em 0;
  font-size:.9em;
  }
.f-prod-listing-filter dl {
  margin-top:5px;
  font-size:.9em;
  }
.f-prod-listing-filter dd {
  margin-bottom:0;
  }
.f-prod-listing-filter dd ul {
  padding-left:13px;
  margin-bottom:0;
  }
.f-prod-listing-filter dd li {
  list-style:none;
  margin:2px 0;
  }
.f-prod-listing-filter dd li.cat-level-0 {
  padding-left:10px;
  }
.f-prod-listing-filter dd li.cat-level-1 {
  padding-left:20px;
  }
.f-prod-listing-filter dd li a {
  padding-top:3px;
  padding-bottom:3px;
  }
.f-prod-listing-filter dd li a.active {
  font-weight:500;
  }
.f-prod-listing-filter dd .count {
  font-size:.9em;
  }
.f-prod-listing-filter .glyphicon {
  font-size:1.1em;
  }
.f-prod-listing-filter .glyphicon-unchecked {
  color:#eee;
  }
.f-prod-listing-filter .glyphicon-check {
  color:#114c87;
  }
.f-prod-listing-toolbar .pagination {
  margin:2px 0;
  }

/* Product Compare */
.f-widget-prods-compare ul {
  display:inline-block;
  padding-left:0;
  list-style:none;
  }
.f-widget-prods-compare ul > li.item { 
  margin-right:3px;
  display:inline-block;
  background:#eee;
  border:1px solid #bbb;
  }
.f-widget-prods-compare ul > li.item a {
  cursor: alias;
  }
  
/* Ratings & Reviews */
.f-rating-stars {
  position:relative;
  display:inline-block;
  margin-top:-6px;
  width:105px;
  vertical-align:middle;
  }
.f-rating-stars [class$='stars'] {
  display:block;
  height:21px;
  background-image:url(../img/rating_stars.svg);
  background-repeat:repeat-x;
  background-position:0 0;
 }
.f-rating-stars .f-filled-stars {
  position:absolute;
  top:0;
  left:0;
  z-index:9;
  }
.f-rating-stars .f-empty-stars {
  background-position:0 -19px;
  }
.f-rating-stars.f-lg-stars {
  width:120px;
  }
.f-rating-stars.f-lg-stars [class$='stars'] {
  height:25px;
  background-image:url(../img/rating_stars_lg.svg);
 }
.f-rating-stars.f-lg-stars .f-empty-stars {
  background-position:0 -22px;
  }
.f-rating-stars.f-sm-stars {
  width:84px;
  }
.f-rating-stars.f-sm-stars [class$='stars'] {
  height:17px;
  background-image:url(../img/rating_stars_sm.svg);
  }
.f-rating-stars.f-sm-stars .f-empty-stars {
  background-position:0 -16px;
  }
.f-rating-stars.f-xs-stars {
  width:64px;
  }
.f-rating-stars.f-xs-stars [class$='stars'] {
  height:12px;
  background-image:url(../img/rating_stars_xs.svg);
  }
.f-rating-stars.f-xs-stars .f-empty-stars {
  background-position:0 -12px;
  }
.f-prod-review-attrs dt {
  float:left;
  width:60px;
  text-align:left;
  }
.f-prod-review-attrs dd {
  margin-left:65px;
  text-align:left;
  }
.f-prod-reviews .f-prod-review-avg {
  background:#f3f3f3;
  padding:15px;
  }
.f-prod-reviews .f-prod-review-avg h5 {
  margin-top:0;
  }
.f-prod-reviews .f-prod-review-avg .f-prod-review-attrs dl {
  margin-bottom:0;
  }
.f-prod-reviews .f-prod-review-post {
  /*border-bottom:1px solid #eee;*/
  margin:10px 0 15px;
  padding-bottom:15px;
  }
.f-prod-reviews .f-prod-review-post:last-of-type {
  border-bottom:none;
  margin-bottom:0;
  padding-bottom:0;
  }
.f-prod-reviews .f-prod-review-post h5 {
  margin-bottom:3px;
  font-size:15px;
  font-weight:bold;
  }
.f-prod-reviews .f-prod-review-post .meta {
  display:block;
  margin:4px 0 10px;
  font-size:.9em;
  }
.f-prod-reviews .f-prod-review-attrs {
    padding-top: 15px;
    padding-bottom: 15px;
}
.f-prod-reviews .f-prod-review-attrs dl.dl-horizontal {
    margin: 0 0 20px 0;
}
.f-prod-reviews .f-prod-review-attrs dt,
.f-prod-reviews .f-prod-review-attrs dd {
  padding-bottom:1px;
  font-size:.85em;
  font-weight:normal;
  }
.f-prod-reviews .f-prod-review-post  .f-prod-review-attrs dt,
.f-prod-reviews .f-prod-review-post  .f-prod-review-attrs dd {
  display:none;
  }
.f-prod-reviews .f-prod-review-post  .f-prod-review-attrs .block_review_helpful {
    margin-top: 20px;
}
.f-prod-reviews .f-prod-review-post .f-prod-review-attrs dt:first-of-type,
.f-prod-reviews .f-prod-review-post .f-prod-review-attrs dd:first-of-type {
  font-size:1.05em;
  }
.f-prod-review-form .f-prod-avg-rating {
  margin-bottom:10px;
  }
#f-prod-review-form-container {
  max-width: 500px;
  }

/* Prices */
.f-price-group {
  margin:5px 0 .8em;
  font-size:.9em;
  }
.f-price-group th {
  width:60px;
  padding-right:5px;
  color:#777;
  font-weight:normal;
  text-align:right;
  }
.f-price-group .f-free-price .f-price { 
  color: #6a6; 
  }
.f-price-group .f-reg-price .f-price,
.f-price-group .f-special-price .f-price {
  color:#b21919;
  }
.f-price-group .f-old-price .f-price {
  color:#999;
  text-decoration:line-through;
  }
.f-price-group .f-map-price {
    color:#b21919;
    font-weight:bold;
}
.f-price-group .f-save-price {
    color:#b21919;
    font-size:.9em;
}

/*------------------------------------*\
   CONTAINER-SPECIFIC
\*------------------------------------*/

/* Container: Header */
.f-site-header .f-mini-cart .f-widget-header {
  display:none;
}

/* Page: Product View */
.f-col-prod-img .f-prod-imgs {
  margin-bottom:.5em;
  }
.f-col-prod-img .f-prod-more-view-imgs {
  margin:-3px -3px 15px -3px;
  padding:0;
  }
.f-col-prod-img .f-prod-more-view-imgs li {
  list-style:none;
  padding:3px;
  }
.f-col-prod-img .f-prod-more-view-imgs li img {
  width:100%;
  }
  
/* Page: Cart */
.f-cart-col-img { width:80px; }
.f-cart-col-qty { width:60px; }
.f-cart-col-actions { width:80px; }
.f-cart-col-price { width:120px; }
.f-cart-col-total { width:80px; }
.f-cart-col-total .checkbox { margin:0; }
.f-input-qty { display:inline; width:70px; text-align:center; }
.f-cart-btn-group {
  padding-left:0;
  text-align:center;
  }
.f-cart-btn-group li {
  margin:5px 0;
  list-style:none;
  }
  
/* Page: Account */
.f-address-list .f-address-list-item {
  margin-bottom:13px;
  border-bottom:1px solid #eee;
  padding:0 13px 13px 13px;
  }
.f-address-list .f-address-list-item.well {
  padding-top:13px;
  }
.f-address-list address {
  margin-bottom:0;
  }

/* Page: Newsletter */
.f-newsletter-block {
  max-width: 400px;
  margin:25px auto;
}

/* Page: Login */
.f-authentification-form {
  max-width:400px;
  margin:25px auto;
  }
.f-register-form {
  max-width:600px;
  }

/*------------------------------------*\
   VENDOR CSS
\*------------------------------------*/

/* Twitter Typeahead */
.twitter-typeahead {
  display:block !important;
  }
.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  }
.tt-hint {
  color: #999;
  padding:5px;
  }
.tt-dropdown-menu {
  width:400px;
  margin-top:-3px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  -webkit-border-radius:0 0 3px 3px;
  -moz-border-radius:0 0 3px 3px;
  border-radius:0 0 3px 3px;
  -webkit-box-shadow: 0 3px 5px rgba(0,0,0,0.125);
  -moz-box-shadow: 0 3px 5px rgba(0,0,0,0.125);
  box-shadow: 0 3px 5px rgba(0,0,0,0.125);
  }
.tt-suggestion {
  padding: 3px 10px;
  font-size: 14px;
  line-height: 24px;
  }
.tt-suggestion.tt-is-under-cursor {
  font-weight:bold;
  background:#f4f4f4;
  }
.tt-suggestion p {
  margin: 0;
  }

/* Responsive Slides */
/*! http://responsiveslides.com v1.54 by @viljamis */
.f-rslides-container {
  position:relative;
  }
.f_nav {
  opacity:.3;
  position:absolute;
  display: inline-block;
  top:80%;
  width:45px;
  height:45px;
  margin-top:-45px;
  -webkit-font-smoothing: antialiased;
  visibility:hidden;
  text-align:center;
  z-index:9;
  }
.f_nav:before {
  display: inline-block;
  margin-top:-45px;
  width:45px;
  height:45px;
  background:#000;
  color:#fff;
  font: 15px/45px 'Glyphicons Halflings';
  visibility:visible;
  }
.f_nav:hover {
  opacity:.5;
  }
.f_nav.prev { left:0; }
.f_nav.prev:before { content: "\e079"; }
.f_nav.next { right:0; }
.f_nav.next:before { content: "\e080"; }

.f-rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }
.f-rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }
.f-rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }
.f-rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }


/*------------------------------------*\
   RESPONSIVE
\*------------------------------------*/

/* Large Phones */
@media (max-width: 767px) {
  /* Header */
  .f-site-header-top .navbar-header,
  .f-site-header-top .navbar-nav {
    margin:10px 0;
    }
  .f-site-header-top .navbar-header {
    float:left;
    }
  .f-site-header-top .navbar-brand {
    padding:0;
    }
  .f-site-header-top .navbar-brand img {
    max-width:120px;
    margin-top:7px;
    }
  .f-site-header-top .f-header-util-links {
    float:right;
    margin-bottom:10px;
    padding:0;
    }
  .f-header-util-links > li {
    display:inline-block;
    padding:0 1px;
    }
  .f-header-util-links > li > a {
    display:block;
    width:40px;
    height:40px;
    border:1px solid #ddd;
    border-radius:3px;
    padding:6px 7px;
    font-size:1.4em;
    line-height:1em;
    text-align:center;
    }
  .f-header-util-links > li:hover .dropdown-toggle,
  .f-header-util-links > li.open .dropdown-toggle{
    border-bottom-right-radius:0;
    border-bottom-left-radius:0;
  }
  .f-header-util-links > li:hover .dropdown-menu,
  .f-header-util-links > li.open .dropdown-menu {
    position:absolute;
    right:1px;
    left:auto;
    margin-top:-1px;
    border-top-right-radius:0;
    -webkit-box-shadow:0 3px 5px rgba(0,0,0,0.125);
    box-shadow:0 3px 5px rgba(0,0,0,0.125);
    border:1px solid rgba(0,0,0,0.20);
    background:#fff;
    }
  .f-header-util-links .glyphicon {
    display:block;
    }
  .f-header-util-links > li .f-header-util-links-label {
    display:none;
    }
  .f-header-util-links > li .f-header-util-qty {
    float:right;
    min-width:15px;
    height:15px;
    margin:-30px -13px 0 0;
    background:#cf0000;
    border-radius:15px;
    font-size:10px;
    color:#fff;
    line-height:15px;
    text-align:center;
    }
  .f-catalog-navbar .nav {
    max-height:none;
    margin:0;
    padding:0;
    }
  .f-catalog-navbar .nav > li > .dropdown-menu {
    display:none !important;
    }
  .f-page-header .f-page-title {
    margin-bottom:8px;
    }
  .f-page-header .btn {
    display:block;
    margin:5px 0;
    }
  .f-prod-listing .f-prod-name {
    font-size:1.15em;
    }
  .f-prod-info > .tab-content .f-tab-title {
    font-size:1.2em;
    }
    
  /* Widget - Mobile slideout menu */
  .f-mb-slideout-menu > .f-col-sidebar {
    position:absolute;
    width:240px;
    left:-240px;
    background:#fff;
    border:1px solid #ccc;
    border-left:0;
    border-radius:0 3px 3px 0;
    border-bottom-color:#c3c3c3;
    -webkit-box-shadow: 0 3px 5px rgba(0,0,0,0.125);
    box-shadow: 0 3px 5px rgba(0,0,0,0.125);
    padding:15px;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear;
    z-index:99;
    }
  .f-mb-slideout-menu > .f-col-sidebar.open {
    left:0;
    }
  .f-mb-slideout-menu > .f-col-main {
    float:left;
    width:100%;
    height:100%;
    }
}

/* Tablets */
@media (min-width: 768px) {
  /* Header */
  .f-site-header-top .navbar-brand img {
    max-width:140px;
    }
  .f-header-util-links .glyphicon {
    display:none;
    }
  .f-header-util-links .f-header-mini-cart-trigger .glyphicon {
    display:inline-block;
    padding-right:5px;
    }
  .f-header-util-links > li .f-header-util-qty {
    display:none;
    }
  .navbar-brand {
    margin-right:5px;
    padding:12px 15px 12px 0;
    }
  .f-header-col-callouts {
    display:block;
    margin:11px 0;
    }
  .f-page-header { text-align:right; }
  .f-page-header .f-page-title {
    float:left;
    margin-top:0;
    }
  .f-prod-listing .f-col-listing-prod-img {
    position:relative;
    }
  .f-prod-listing .f-col-listing-prod-img:hover .f-prod-quickview-btn {
    display:block;
    position:absolute;
    right:10px;
    bottom:10px;
    }
  .f-prod-listing-rows .f-col-listing-prod-img:hover .f-prod-quickview-btn {
    right:25px; /* Due to bootstrap adding 15px padding to columns */
    }
  .f-prod-quickview .modal-dialog {
    width:800px;
    }
  .f-prod-quickview .nav-tabs {
    margin-bottom:15px;
    font-size:.9em;
    font-weight:bold;
    }
  .f-prod-quickview .tab-pane {
    font-size:.9em;
    }
  .f-prod-quickview .f-price-group {
    font-size:1em;
    }
  .f-prod-quickview .f-prod-select .form-group {
    margin-bottom:8px;
    }
  .f-prod-quickview .f-prod-select select {
    height:24px;
    font-size:13px;
    }
  .f-prod-quickview .f-prod-add-cart {
    margin:10px 0;
    }
  .f-prod-quickview .f-add-to-links {
    margin:10px 0;
    padding-left:0;
    font-size:.95em;
    }
  .f-prod-quickview .f-add-to-links li {
    display:inline-block;
    padding-right:10px;
    list-style:none;
    }
  .f-page-category .f-col-main {
    float:right;
    }
  .f-prod-listing-toolbar .hidden-xs {
    display:inline-block !important;
    }
  .f-prod-listing-toolbar .form-group.pull-right {
    margin-left:10px;
    }
  .f-prod-reviews .f-prod-review-post .f-prod-review-attrs dt,
  .f-prod-reviews .f-prod-review-post .f-prod-review-attrs dd {
    display:block;
    }
  .page-customer .f-site-main > .container > .row > .col-sm-9 {
    float:right;
  }
}
@media (max-width: 992px) {
  .f-header-search-bar {
    clear: both;
    padding: 7px 0;
    }
  .f-header-search-bar .container {
    position: relative;
    height:34px;
    padding-right:49px;
    overflow:hidden;
    }
  .f-header-search-bar .navbar-toggle {
    position:absolute;
    top:0;
    left:15px;
    border-radius:0;
    margin:0;
    padding:6px 10px 6px 0;
  }
  .f-header-search-bar .f-navbar-toggle-icon {
    display:inline-block;
    width:18px;
    margin-right:8px;
    overflow:hidden;
    }
  .f-header-search-form {
    position:relative;
    padding:0;
    border: none;
    margin:0;
    box-shadow: none;
    -webkit-box-shadow:none;
    }
  .f-header-search-form .form-control {
    position:absolute;
    right:0;
    width:50%;
    background:#fff;
    border:none;
    }
  .f-header-search-form .form-control:focus {
    width:100%;
    }
  .f-header-search-form .btn {
    position:absolute;
    right:-34px;
    width:37px;
    height:34px;
    }
  .f-mb-slideout-menu-toggle {
    margin-bottom:10px;
    z-index:9;
  }
}
@media (min-width: 992px) {
  /* Header */
  .f-site-header .nav li.open.dropdown > a {
    background:none;
    }
  .f-site-header .nav .dropdown:hover > .dropdown-menu {
    display: block; /* Makes dropdown on hover */
    }
  .f-site-header .nav li.open.dropdown > .dropdown-menu {
    display:none; /* Removes dropdown on click */
    }
  .f-site-header-top > .container > .f-header-search-form {
    float:left;
    width:300px;
    padding-right:37px;
    }
  .f-site-header-top > .container > .f-header-search-form .form-control {
    border-top-right-radius:0;
    border-bottom-right-radius:0;
    float:left;
    }
  .f-site-header-top > .container > .f-header-search-form .btn {
    float:right;
    margin:0 -37px 0 0;
    border-top-left-radius:0;
    border-bottom-left-radius:0;
    width:37px;
    height:34px;
    padding:5px 12px;
    }
  .f-catalog-navbar {
    border-radius:0;
    }
  .f-catalog-navbar .navbar-nav {
    display:block !important;
    height:auto !important;
    }
}

/*------------------------------------*\
   CLEARS
\*------------------------------------*/

.f-widget-header:after,
.f-page-header:after,
.f-tab-heading:after {
  clear: both;
  }
.f-widget-header:before, .f-widget-header:after,
.f-page-header:before, .f-page-header:after,
.f-tab-heading:before, .f-tab-heading:after {
  display: table;
  content: " ";
  }

.overflow-hidden {
    overflow: hidden !important;
}
