{% set config = THIS.get('config') %}
{% set mediaLib =  APP.instance('FCom_Admin_Controller_MediaLibrary') %}
{% set uploadConfig = mediaLib.uploadConfig() %}
{#{% set mediaLibConfig = mediaLib.gridConfig({'id': config.id, 'config': config.config, 'mode': config.mode}) %}#}
{% set mediaLibConfig = config.gridConfig %}
{#{{ dump(config) }}#}
{#{{ dump(uploadConfig) }}#}

<div class="f-admin-main-view">
    <div class="page-header f-admin-page-header">
        {% if config.title %}
        <h1 class="f-page-title">
            <i class="icon-table"></i>
            {{ config.title }}
        </h1>
        {% endif %}

        <div class="btn-group">
        </div>
    </div>
    <div class="f-admin-main">
        {{ THIS.view('core/messages') | raw }}
        <div class='' id='{{ config.id }}-attach_library'>
            {{ THIS.view('core/griddle').set('grid', mediaLibConfig) | raw }}
        </div>

        <div class="modal fade" id="{{ config.id }}-upload-modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="{{ "Close"|_ }}"><span
                                    aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">{{ "Upload Files"|_ }}</h4>
                    </div>
                    <div class="modal-body">
                        <div>
                            <select id="media-library-upload-types" class="form-control">
                                {% for uc in uploadConfig %}
                                    <option value="{{ uc.type }}">{{ uc.label }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        {{ THIS.view('core/medialib/upload').set({'config': config, 'uploadConfig': uploadConfig})|raw }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">{{ "Close"|_ }}</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div>
    </div>
</div>

<script type="text/javascript">
    require(['jquery'], function ($) {
        var uploadConfigs = {{ UTIL.toJSON(uploadConfig)|raw }};
        var uploadUrlBase = "{{ APP.href("media/grid/upload?type=") | raw }}";
        var $mediaTypes = $("#media-library-upload-types");
        var type = $mediaTypes.val();
        var uploadUrl = uploadUrlBase + type;
        var $uploader = $("#{{config.id}}-media-upload");
        var uploaderInitialized = false;
        $mediaTypes.on('change', function (e) {
            type = $mediaTypes.val();
            uploadUrl = uploadUrlBase + type;
            $uploader.fileupload('option', {url: uploadUrl});
            console.log(uploadUrl);
        });
        window.gridShowMedia{{ config.id }} = function () {
            var mediaModal = $('#{{ config.id }}-upload-modal');
            if (mediaModal) {

                mediaModal.modal('show');
                if (!uploaderInitialized) {
                    var files = 0;
                    $uploader.fileupload('option', {url: uploadUrl}).bind('fileuploadchange', function (e, data) {
                        files += data.files.length;
                        if (files > 0) {
                            $mediaTypes.attr('disabled', true); // disable changing upload type after initiating upload
                        }
                    }).bind('fileuploadfail', function () {
                        files--;
                        if (files == 0) {
                            $mediaTypes.attr('disabled', false);
                        }
                    });
                    uploaderInitialized = true;
                }
            }
        };
    });
</script>
