{% set isLoggedIn = APP.instance('Sellvana_Customer_Model_Customer').isLoggedIn() %}
{% set userId = APP.instance('Sellvana_Customer_Model_Customer').sessionUserId() %}
{% set prod = THIS.get('prod') %}
{% set reviews = prod.reviews() %}
{% set rate = APP.instance('Sellvana_ProductReviews_Model_Review').config() %}
{% set isAlreadyReviewed = prod.isAlreadyReviewed(userId) %}
{#{% for review in reviews.items %}
    {% if review.get('customer_id') == userId %}
        {% set allowReview = false %}
    {% endif %}
{% endfor %}#}
{% if isLoggedIn %}
    <!-- Modal -->
    <div class="modal fade" id="f-prod-review-form" tabindex="-1" role="dialog" aria-labelledby="f-prod-review-form-label" aria-hidden="true" data-backdrop="true">
        <div class="modal-dialog f-prod-review-form">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">{{ 'Review the Product'|_ }}</h4>
                </div>
                <div class="modal-body">
                    {{ THIS.view('prodreviews/review-form').set({'prod': prod, 'isModalBox': 1, 'isAlreadyReviewed': isAlreadyReviewed, 'userId': userId}) | raw }}
                </div><!-- /.modal-body -->
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <script>
        require(['jquery'], function($) {
            $('#f-prod-review-open').attr('href', '#f-prod-review-form');
        })
    </script>
{% endif %}

<section class="tab-pane active f-prod-reviews" id="f-prod-tab-reviews">
    <div class="f-tab-heading">
        <h5 class="f-tab-title">{{ 'Customer Reviews'|_ }}</h5>
        {% if isAlreadyReviewed is sameas(false) %}
            <a data-toggle="modal" data-content="new review" href="{{ APP.href('prodreviews/add?pid=') ~ prod.id() }}" class="btn btn-sm btn-primary" id="f-prod-review-open">{{ 'Write your own review'|_ }}</a>
        {% endif %}
    </div>
    <div id="f-prod-reviews-container">
        {{ THIS.view('prodreviews/product-reviews-list').set({'reviews': reviews, 'userId': userId, 'prod': prod, 'isAlreadyReviewed': isAlreadyReviewed})|raw }}
    </div>
</section>
