{% set reviews = THIS.get('reviews') %}
{% set isAlreadyReviewed = THIS.get('isAlreadyReviewed') %}

{% if reviews.numReviews > 0 %}
    {% set isLoggedIn = APP.instance('Sellvana_Customer_Model_Customer').isLoggedIn() %}
    {% set userId = THIS.get('userId') %}
    {% set rate = APP.instance('Sellvana_ProductReviews_Model_Review').config() %}
    <div class="f-prod-review-avg clearfix">
        <h5>{{ "Avg. Customer Rating"|_ }} ({{ reviews.numReviews }} {{ "Reviews"|_ }}):</h5>
        <div class="glyphicon f-rating-stars f-lg-stars">
            <span class="f-filled-stars" style="width:{{ (reviews.avgRating.rating/rate.max)*100 }}%;"></span>
            <span class="f-empty-stars"></span>
        </div>
        <strong>{{ reviews.avgRating.rating }} / {{ rate.max }}</strong>
        <div class="f-prod-review-attrs">
            <dl class="dl-horizontal">
                <dt>{{ "Value"|_ }}</dt>
                <dd>
                    <div class="glyphicon f-rating-stars f-xs-stars">
                        <span class="f-filled-stars" style="width:{{ (reviews.avgRating.rating1/rate.max)*100 }}%;"></span>
                        <span class="f-empty-stars"></span>
                    </div>
                    {{ reviews.avgRating.rating1 }}</dd>
                <dt>{{ "Features"|_ }}</dt>
                <dd>
                    <div class="glyphicon f-rating-stars f-xs-stars">
                        <span class="f-filled-stars" style="width:{{ (reviews.avgRating.rating2/rate.max)*100 }}%;"></span>
                        <span class="f-empty-stars"></span>
                    </div>
                    {{ reviews.avgRating.rating2 }}</dd>
                <dt>{{ "Quality"|_ }}</dt>
                <dd>
                    <div class="glyphicon f-rating-stars f-xs-stars">
                        <span class="f-filled-stars" style="width:{{ (reviews.avgRating.rating3/rate.max)*100 }}%;"></span>
                        <span class="f-empty-stars"></span>
                    </div>
                    {{ reviews.avgRating.rating3 }}</dd>
            </dl>
        </div>
    </div>

    {% for review in reviews.items %}
        <article class="f-prod-review-post clearfix">
            <h5>{{ review.get('title') }}</h5>
            <span class="meta">{{ "by"|_ }} {{ review.get('firstname') }} {{ review.get('lastname') }} {{ "on"|_ }} {{ review.get('created_at')|date('F j, Y') }}</span>
            <div class="col-md-12 col-sm-12 f-prod-review-attrs">
                <dl class="dl-horizontal">
                    <dt><strong>{{ "Overall"|_ }}</strong></dt>
                    <dd>
                        <div class="glyphicon f-rating-stars f-xs-stars">
                            <span class="f-filled-stars" style="width:{{ (review.get('rating')/rate.max)*100 }}%;"></span>
                            <span class="f-empty-stars"></span>
                        </div>
                        <strong>{{ review.get('rating') }} / {{ rate.max }}</strong>
                    </dd>
                    <dt>{{ "Value"|_ }}</dt>
                    <dd>
                        <div class="glyphicon f-rating-stars f-xs-stars">
                            <span class="f-filled-stars" style="width:{{ (review.get('rating1')/rate.max)*100 }}%;"></span>
                            <span class="f-empty-stars"></span>
                        </div>
                        {{ review.get('rating1') }}</dd>
                    <dt>{{ "Features"|_ }}</dt>
                    <dd>
                        <div class="glyphicon f-rating-stars f-xs-stars">
                            <span class="f-filled-stars" style="width:{{ (review.get('rating2')/rate.max)*100 }}%;"></span>
                            <span class="f-empty-stars"></span>
                        </div>
                        {{ review.get('rating2') }}</dd>
                    <dt>{{ "Quality"|_ }}</dt>
                    <dd>
                        <div class="glyphicon f-rating-stars f-xs-stars">
                            <span class="f-filled-stars" style="width:{{ (review.get('rating3')/rate.max)*100 }}%;"></span>
                            <span class="f-empty-stars"></span>
                        </div>
                        {{ review.get('rating3') }}</dd>

                </dl>
                <div class="f-prod-review">
                    {{ review.get("text") }}
                    {% if review.get('customer_id') == userId %}
                        <a data-toggle="modal" data-content="{{ review.get('id') }}" class="f-prod-review-edit" title="{{ 'Edit this review'|_ }}"
                           href="{{ APP.href('prodreviews/edit?rid=') ~ review.get('id') }}">
                            <i class="glyphicon glyphicon-pencil"></i>
                        </a>
                    {% else %}
                        <div id="block_review_helpful_{{ review.get('id') }}" class="block_review_helpful">
                            <form action="{{ APP.href('prodreviews/helpful') }}" method="post"  onsubmit="return false;">
                                <input type="hidden" name="X-CSRF-TOKEN" value="{{ SESSION.csrfToken() }}"/>
                                <input type="hidden" name="pid" value="{{ prod.get('id') }}">
                                <input type="hidden" name="rid" value="{{ review.get('id') }}">
                                {{ "Was this review helpful to you" | _ }}?
                                <button class="btn btn-primary btn-xs" type="submit" name="review_helpful" value="yes"
                                        onclick="FCom.Review.AddRating("{{ APP.href('prodreviews/helpful') }}", {{ review.get('id') }}, 'yes');">{{ "Yes" | _ }}</button>
                                <span class="badge">{{ review.get('helpful') }}</span>
                            </form>
                        </div>
                        <span id="block_review_helpful_done_{{ review.get('id') }}" style="color:green;display: block"></span>
                    {% endif %}
                </div>
            </div>
        </article>
    {% endfor %}

    {% if (reviews.numReviews > 1) %}
        <p><a href="#"><strong>{{ "Read all %s customer reviews"|_(reviews.numReviews) }} &rsaquo;</strong></a></p>
    {% endif %}
    <script>
        require(['jquery', 'fcom.productreviews'], function ($){
            $('.f-prod-review-edit').click(function () {
                var rid = $(this).attr('data-content');
                $.ajax({
                    type: 'GET',
                    url: "{{ APP.href('prodreviews/ajax_review') }}",
                    data: {rid: rid},
                    success: function (data) {
                        if (data.status == 'error') {
                            $.bootstrapGrowl("Error:<br>" + data.message, { type: 'danger', align: 'center', width: 'auto', delay: 5000});
                        } else {
                            var reviewMainForm = $('#f-prod-reviews-main-form');
                            reviewMainForm.attr('action', '{{ APP.href('prodreviews/edit') }}');
                            reviewMainForm.find('.rateit').each(function(index) {
                                var val = data['rating'];
                                if (index > 0) {
                                    val = data['rating' + index];
                                }
                                $(this).rateit('value', val);
                            });
                            $('#prodreview-title').val(data.title);
                            $('#prodreview-text').val(data.text);
                            $('#id-preview').val(data.id);
                            $('#f-prod-review-form').modal('show');
                        }
                    },
                    error: function (xhr, textStatus, errorThrown)
                    {
                        alert("[ERROR]<br>" + textStatus);
                    }
                });
                return false;
            })
        })
    </script>
{% else %}
    {% if isAlreadyReviewed %}
        <p>{{ "We will check and approve your review in 24 hours."|_ }}</p>
    {% else %}
        <p>{{ "No reviews. Become first person review this products."|_ }}</p>
    {% endif %}
{% endif %}
