{% set popular = APP.instance('Sellvana_Catalog_Frontend').getPopularProducts(THIS.get('cnt')) %}

{% if popular %}
    <div class="f-widget f-widget-featured-prods">
        <header class="f-widget-header">
            <strong class="f-widget-title">{{ 'Popular Products'|_ }}</strong>
        </header>
        {{ THIS.view('catalog/product/grid-tiles').set('products', popular) | raw }}
    </div><!-- /.f-widget-featured-prods -->
{% endif %}
