{% set loggedIn = APP.instance('Sellvana_Customer_Model_Customer').isLoggedIn() %}
{% set cart = APP.instance('Sellvana_Sales_Model_Cart').sessionCart() %}
{% set field = APP.instance('Sellvana_CustomField_Model_Field') %}
{% set cartItems = cart.items() %}
{% set shipping_estimates = SESSION.get('shipping_estimate') %}
{% set checkout_methods = APP.instance('Sellvana_Sales_Main').getCheckoutMethods() %}

<header class="f-page-header">
    <h1 class="f-page-title">{{ 'Shopping Cart'|_ }}</h1>
</header>
{% if false == cartItems %}
    {{ THIS.view('core/messages') | raw }}
    {{ THIS.view('core/messages').set('messages', [{type:'info', msg:"Your cart is empty. "|_}]) | raw }}
{% else %}
    {{ THIS.view('core/messages') | raw }}
    <div class="row">
        <div class="f-widget f-widget-cart f-col-cart-content col-md-8 col-lg-9">
            <header class="f-widget-header">
                <strong class="f-widget-title">{{ 'Items in cart'|_ }}</strong>
            </header>
            <div class="table-responsive">
                <form method="post" action="{{ APP.href('cart/update') }}">
                    <input type="hidden" name="X-CSRF-TOKEN" value="{{ SESSION.csrfToken() }}"/>
                    <table class="table">
                        <thead>
                        <tr>
                            <th class="f-cart-col-item" colspan="2">{{ 'Item'|_ }}</th>
                            <th class="f-cart-col-qty text-center">{{ 'Qty'|_ }}</th>
                            <th class="f-cart-col-total text-left">{{ 'Action'|_ }}</th>
                            <th class="f-cart-col-price text-right">{{ 'Unit Price'|_ }}</th>
                            <th class="f-cart-col-total text-right">{{ 'Total'|_ }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in cartItems %}
                            {% set viewName = item.getCartTemplateViewName() %}
                            {{ THIS.view(viewName).set('item', item) | raw }}
                            {{ THIS.hook('cart_item_related', {item:item}) | raw }}
                        {% endfor %}
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="2"></td>
                            <td></td>
                            <td><button type="submit" class="btn btn-default btn-xs">{{ "Update Cart" |_ }}</button></td>
                            <td></td>
                            <td></td>
                        </tr>
                        </tfoot>
                    </table>
                </form>
            </div><!-- /.table-responsive -->
        </div>
        <div class="f-col-cart-totals col-md-4 col-lg-3">
            <table class="table">
                {% for total in cart.getTotals() %}
                    {% if not total.isHidden() %}
                        <tr class="{{ total.getRowClass() }}">
                            <td>
                                {{ total.getLabelFormatted() | raw }}
                                {% if total.getError() %}<br/>(<span class="error">{{ total.getError() }}</span>){% endif %}
                            </td>
                            <td>
                                {{ total.getValueFormatted() | raw }}
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </table>
            <ul class="f-cart-btn-group">
                {% for checkout in checkout_methods %}
                    {% set button = checkout.getCartCheckoutButton() %}
                    {% if button %}
                        <li>
                            {% if button.html %}
                                {{ button.html | raw }}
                            {% else %}
                                <a href="{{ button.href }}" class="btn btn-primary"><span>{{ button.label |_ }}</span></a>
                            {% endif %}
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            {{ THIS.view('cart/shipping-estimate-form') | raw }}
        </div>
        <div class="col-md-6">
            {{ THIS.view('cart/coupon-form') | raw }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            {{ THIS.hook('cart_upsell') | raw }}
        </div>
    </div>
{% endif %}


