{% set imgBaseUrl = APP.src('@Sellvana_FrontendThemeBootSimple/Frontend/img') %}
<div class="f-site-main" role="main">
  <div class="container f-home-hero-callouts">
    <div class="row">
      <div class="f-callout col-md-6">
        <img class="img-responsive" src="{{ imgBaseUrl }}/ph/pixel-gray-800x800.gif" alt=""/>
      </div>
      <div class="f-callout col-md-6">
        <img class="img-responsive" src="{{ imgBaseUrl }}/ph/pixel-gray-800x800.gif" alt=""/>
      </div>
    </div>
  </div>
  <div class="container">
    {{ THIS.hook('homepage-additional') | raw }}
  </div><!-- /.container -->
  <!--<ul class="rslides">
    <li><img class="f-prod-img" src="{{ imgBaseUrl }}/ph/image.jpg" alt=""/></li>
    <li><img class="f-prod-img" src="{{ imgBaseUrl }}/ph/image.jpg" alt=""/></li>
    <li><img class="f-prod-img" src="{{ imgBaseUrl }}/ph/image.jpg" alt=""/></li>
  </ul>-->
</div><!-- /.f-site-main -->
<!--<script>
  $(function() {
    $(".rslides").responsiveSlides({
      speed: 500,            // Integer: Speed of the transition, in milliseconds
      timeout: 4000,          // Integer: Time between slide transitions, in milliseconds
      pager: true,           // Boolean: Show pager, true or false
      nav: true,             // Boolean: Show navigation, true or false
      random: true,          // Boolean: Randomize the order of the slides, true or false
      pause: true,           // Boolean: Pause on hover, true or false
      pauseControls: true    // Boolean: Pause when hovering controls, true or false
  });
</script>-->
