<!--{ label: Product Reviews }-->
<!--{ pos: 70 }-->
<!--{ model_new_hide: true }-->

{% set m = THIS.get('model') %}
{% set ctrl = APP.instance('Sellvana_ProductReviews_Admin_Controller') %}
{% set gridConfig = ctrl.gridConfig(m) %}

<script>
require(["jquery", "underscore", "jquery.validate"], function($, _) {
    var btnApprove = $('#prod-reviews-approve');
    var btnDeny = $('#prod-reviews-deny');
    var selectedRows = [];
    var prodReviewGrid;
    window.products_reviews_register = function(grid) {
        prodReviewGrid = grid;
        grid.getGridSkeleton().Views.GridView.prototype.afterSelectionChanged = function() {
            if (prodReviewGrid.getSelectedRows().length > 0) {
                btnApprove.removeClass('disabled');
                btnDeny.removeClass('disabled');
            } else {
                btnApprove.addClass('disabled');
                btnDeny.addClass('disabled');
            }
        }
        grid.build();
    }
    require(["jquery", "underscore", "jquery.validate", "fcom.admin", "bootstrap"], function($, _) {
        adminForm.createSwitchButton();
        adminForm.wysiwygInit();

        btnApprove.on('click', function() {
            updateStatus(1);
        });

        btnDeny.on('click', function() {
            updateStatus(0);
        });

        function updateStatus(approve)
        {
            var selectedRows = prodReviewGrid.getRows().toJSON();
            for (var index = 0; index < selectedRows.length; index++) {
                var row = prodReviewGrid.getRows().findWhere({id:selectedRows[index].id});
                row.set('approved', approve);
                row.save();
                row.trigger('render');
                //todo: implement update multi rows
            }
            $.bootstrapGrowl("Successfully saved.", { type: 'success', align: 'center', width: 'auto' });
        }

    });
});
</script>

{#{{ THIS.view('core/backbonegrid').set('grid', {config: gridConfig }) | raw }}#}
{{ THIS.view('core/griddle').set('grid', {config: gridConfig }) | raw }}


