{% set c = THIS.get('model') %}
{% set locales = LOCALE.getAvailableLocaleCodes() %}
{% import THIS.view('core/form-elements').twigName() as forms %}

<h2>{{ "FrontEnd Settings"|_}}</h2>
{% set fieldData = { model: c, settings_module:'FCom_Frontend' } %}
{{ forms.accordion_start({id:'settings-FCom_Frontend'}) }}
    {{ forms.accordion_panel_start({label:'HTML'|_, id:'settings-FCom_Frontend-group0', in:1}) }}
        {{ forms.select(fieldData, {field:'theme', label:'Theme'|_, options:LAYOUT.getThemes("FCom_Frontend", true) }) }}
        {{ forms.textarea(fieldData, {field:'add_js_files', label:'Additional JS Files'|_, raw:1 }) }}
        {{ forms.textarea(fieldData, {field:'add_css_files', label:'Additional CSS Files'|_, raw:1 }) }}
        {{ forms.textarea(fieldData, {field:'add_js_code', label:'Additional JS Code'|_, raw:1 }) }}
        {{ forms.textarea(fieldData, {field:'add_css_style', label:'Additional CSS Style'|_, raw:1 }) }}
    {{ forms.accordion_panel_end }}

    {% set fieldData1 = { model: c, id_prefix:'config-modules-FCom_Frontend-cookie', name_prefix:'config[modules][FCom_Frontend][cookie]', get_prefix:'modules/FCom_Frontend/cookie' } %}
    {{ forms.accordion_panel_start({label:'Area Session'|_, id:'settings-FCom_Frontend-group-cookie'}) }}
        {{ forms.select(fieldData1,  { field:'session_handler', label:'Session Handler'|_, options:SESSION.getHandlers() }) }}
        {{ forms.input(fieldData1,   { field:'remember_days', label:'Remember Me Timeout (days)'|_ }) }}
        {{ forms.input(fieldData1,   { field:'domain', label:'Cookie Domain'|_ }) }}
        {{ forms.input(fieldData1,   { field:'path', label:'Cookie Path'|_ }) }}
        {{ forms.input(fieldData1,   { field:'session_namespace', label:'Cookie Namespace'|_ }) }}
        {{ forms.select(fieldData1, { field:'session_check_ip', label:'Verify Session IP'|_, options:{ '':'', 0:'no', 1:'YES'} }) }}
    {{ forms.accordion_panel_end }}

    {% set fieldData1 = { model: c, id_prefix:'config-modules-FCom_Frontend-web', name_prefix:'config[modules][FCom_Frontend][web]', get_prefix:'modules/FCom_Frontend/web' } %}
    {{ forms.accordion_panel_start({label:'Area Web Settings'|_, id:'settings-FCom_Frontend-group-web'}) }}
        {{ forms.select(fieldData1, { field:'hide_script_name', label:'Hide script file name in URL'|_, options:{'':'', 0:'No', 1:'Automatic', 2:'FORCE'} }) }}
        {{ forms.input(fieldData1,   { field:'http_host_whitelist', label:'HTTP Host Whitelist (comma separated)'|_ }) }}
        {{ forms.input(fieldData1,   { field:'force_domain', label:'Force Domain Name'|_ }) }}
        {{ forms.select(fieldData1, { field:'force_https', label:'Force HTTPS'|_, options:{ '':'', 0:'no', 1:'YES'} }) }}
        {{ forms.select(fieldData1,  { field:'csrf_check_method', label:'CSRF Check Method'|_, options:REQUEST.getAvailableCsrfMethods(true) }) }}
        {{ forms.input(fieldData1,   { field:'csrf_web_root', label:'CSRF Referrer Web Root Path (optional)'|_ }) }}
        {{ forms.select(fieldData1, { field:'hsts_enable', label:'Enable HSTS header (HTTP Strict Transport Security)'|_, options:{ '':'', 0:'no', 1:'YES'} }) }}
    {{ forms.accordion_panel_end }}

    {{ forms.accordion_panel_start({label:'Area Settings'|_, id:'settings-FCom_Frontend-group1'}) }}
        <div class="form-group" >
            {{ forms.label({label:'IP: mode'|_}) }}
            <div class="col-md-8 group-ip-mode"></div>
        </div>

        {{ forms.textarea(fieldData, {name:'config[recovery][FCom_Frontend][modules]', id:'recovery-FCom_Frontend-modules',
            label:'Modules to run in RECOVERY mode'|_, value:c.get('recovery/FCom_Frontend/modules'), raw:1 }) }}
        {{ forms.input(fieldData, {name:'config[recovery][FCom_Frontend][redirect]', id:'recovery-FCom_Frontend-redirect',
            label:'URL to redirect in RECOVERY mode'|_, value:c.get('recovery/FCom_Frontend/redirect') }) }}

        {{ forms.boolean(fieldData, {field:'enable_locales', label:'Enable UI Multi Locale'|_ }) }}
        {{ forms.select(fieldData, {field:'default_locale', label:'Default Product Locale', options:locales }) }}
        {{ forms.select(fieldData, {field:'allowed_locales', label:'Enabled Frontend UI Locales', select2: {},
            multiple: true, options:locales }) }}
    {{ forms.accordion_panel_end }}

    {{ forms.accordion_panel_start({label:'Custom Tags'|_, id:'settings-FCom_Frontend-group2'}) }}
        {{ forms.textarea(fieldData, {field:'custom_tags_homepage', label:'Home Page'|_, help_block_test:'test' }) }}
        {{ forms.textarea(fieldData, {field:'custom_tags_category', label:'Category Page'|_ }) }}
        {{ forms.textarea(fieldData, {field:'custom_tags_search', label:'Search Page'|_ }) }}
        {{ forms.textarea(fieldData, {field:'custom_tags_product', label:'Product Page'|_ }) }}
        {{ forms.textarea(fieldData, {field:'custom_tags_cart', label:'Shopping Cart'|_ }) }}
        {{ forms.textarea(fieldData, {field:'custom_tags_checkout', label:'Checkout Page'|_ }) }}
        {{ forms.textarea(fieldData, {field:'custom_tags_success', label:'Checkout Success Page'|_ }) }}
   {{ forms.accordion_panel_end }}

{{ forms.accordion_end }}

<script  type="text/javascript">
    require(['backbone', 'jquery', 'fcom.ipmode','select2'], function(Backbone, $, ipMode) {
        var mode = {{ UTIL.toJson(c.get("mode_by_ip/FCom_Frontend")|split("\n")) | raw }};
        ipMode.initMode({el: $('#settings-FCom_Frontend-group1').find('.group-ip-mode'), name: 'config[mode_by_ip][FCom_Frontend]', mode: mode});
    })
</script>
