{% set c = THIS.get('model') %}
{% import THIS.view('core/form-elements').twigName() as forms %}

<h2>{{ "FrontEnd Theme Settings"|_}}</h2>

{{ forms.accordion_start({id:'settings-FCom_FrontendTheme'}) }}
    {{ forms.accordion_panel_start({label:'Navigation'|_, id:'settings-FCom_FrontendTheme-group0', in:1}) }}
        {{ forms.input({ name:'config[modules][FCom_Frontend][nav_top][root_category]', label:'Root id categories'|_, value:c.get('modules/FCom_Frontend/nav_top/root_category') }) }}
    {{ forms.accordion_panel_end }}
{{ forms.accordion_end }}