{% set m = THIS.get('model') %}
{% set gridConfig = APP.instance('Sellvana_Sales_Admin_Controller_Orders').refundsGridConfig(m) %}

{% import THIS.view('core/form-elements').twigName() as forms %}
<div class="f-section">
    {{ forms.textarea({ id:'refund-items', name:'refund[items]', label:'Refund Items (SKU:QTY)'|_}) }}
</div>

{{ THIS.view('core/backbonegrid').set('grid', gridConfig) | raw }}