<style>
    .zoom:after {
        content: '';
        display: block;
        width: 33px;
        height: 33px;
        position: absolute;
        top: 0;
        right: 0;
        background: url("{{ APP.src('@FCom_Core/img/zoom-corner.png') }}");
    }

    .zoom img {
        display: block;
    }

    .zoom img::selection {
        background-color: transparent;
    }
</style>

{% set prod = THIS.get('product') %}
{% set inventory = prod.getInventoryModel() %}
{% set images = prod.media('I') %}
{% set cat = THIS.get('category') %}
{% set customFields = prod.getData('custom_fields') %}

{% set productLinks = prod.getProductLinks() %}
{% set recentlyViewed = APP.instance('Sellvana_Catalog_Frontend').getRecentlyViewedProducts() %}

{% set canOrder = inventory.canOrder() %}

{{ THIS.view('breadcrumbs') | raw }}

{{ THIS.view('core/messages') | raw }}

<div itemscope itemtype="http://data-vocabulary.org/Product">
    <div class="row">
        <!-- Product Image Column -->
        <div class="col-md-5 f-col-prod-img">
            <div class="f-rslides-container">
                <ul class="thumbnails f-rslides f-prod-imgs" id="product-rslides">
                    {% for img in images %}
                        <li><img data-id="{{ img.id() }}" class="f-prod-img img-responsive" src="{{ img.thumbUrl(458) }}{#{ img.imageUrl(1) }#}"
                                 alt="" itemprop="image"/></li>
                    {% endfor %}
                </ul>
            </div>
            <p class="text-center">
                <small>{{ 'Mouse move on Image to zoom'|_ }}</small>
            </p>
            <ul class="f-prod-more-view-imgs row" id="product-rslides-pager">
                {% for img in images %}
                    <li class="col-md-2 col-xs-2" data-id="{{ img.id() }}"><a href="#"><img src="{{ img.thumbUrl(90) }}"
                                                                                            alt="" title=""></a></li>
                {% endfor %}
            </ul>
            <a href="#" hidden id="display-all-images"><i
                        class="glyphicon glyphicon-refresh"></i> {{ "Display all images"|_ }}</a>
        </div>
        <!-- /.f-col-prod-img -->

        <!-- Product Select Column-->
        <div class="col-md-7 f-col-prod-select">
            <form action="{{ APP.href('cart/add') }}" method="post" onsubmit="">
                <input type="hidden" name="X-CSRF-TOKEN" value="{{ SESSION.csrfToken() }}"/>
                <input type="hidden" name="id" value="{{ prod.id() }}">

                <h1 class="f-prod-name" itemprop="name">{{ prod.getName() }}</h1>
                <p class="f-sku" itemprop="identifier" content="sku:{{ prod.get('product_sku') }}">{{ prod.get('product_sku') }}</p>

                {% if prod.getAverageStars() %}
                    <div class="f-prod-avg-rating" itemprop="review" itemscope itemtype="http://data-vocabulary.org/Review-aggregate">
                        <meta itemprop="rating" content="{{ prod.getAverageStars() }}"/>
                        <meta itemprop="count" content="{{ prod.getNumReviews() }}"/>
                        <div class="glyphicon f-rating-stars f-sm-stars">
                            <span class="f-filled-stars" style="width:{{ prod.getAverageRatingPercent() }}%;"></span>
                            <span class="f-empty-stars"></span>
                        </div>
                        <a href="#f-prod-tab-reviews">{{ '%s Review(s)'|_(prod.getNumReviews()) }}</a>
                    </div>
                {% endif %}

                {{ THIS.view('catalog/product/price').set('product', prod) | raw }}

                <div class="f-prod-select">

                    {{ THIS.hook('catalog/product/details:before_add_cart') | raw }}

                    <div class="f-prod-add-cart">

                        {{ THIS.view('catalog/product/variants').set('product', prod) | raw }}

                        {{ THIS.view('catalog/product/shopper_fields').set('product', prod) | raw }}

                        <p class="f-stock-notice f-in-stock" {{ not canOrder ? 'hidden' }}>{{ 'In Stock.'|_ }}</p>

                        <p class="f-stock-notice f-out-of-stock" {{ canOrder ? 'hidden' }}>{{ 'Out Of Stock.'|_ }}</p>

                        <div class="form-group overflow-hidden">
                            <label class="col-md-3 control-label">{{ 'Quantity:' |_ }}</label>

                            <div class="col-md-2">
                                <input type="number" name="qty" class="form-control col-md-3" value="1"/>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary btn-lg" title="{{ "Add to Cart"| _ }}"
                                id="prod-add-to-cart">
                            <span class="glyphicon glyphicon-shopping-cart"></span>{{ "Add to Cart"| _ }}</button>
                        <a class="btn btn-link" href="{{ APP.href('wishlist/add?id=') ~ prod.id() }}"
                           rel="nofollow">{{ "Add to Wishlist"|_ }}</a>

                        {{ THIS.view('catalog/compare-link').set('product_id', prod.id()) | raw }}

                    </div>
                </div>
                <!-- /.f-prod-select -->
            </form>
        </div>
        <!-- /.f-col-prod-select -->
    </div> <!-- /.row -->
    <div class="f-prod-info">
        <div class="tab-content">

            <section class="tab-pane active" id="f-prod-tab-description">
                <div class="f-tab-heading">
                    <h5 class="f-tab-title">{{ 'Product Description'|_ }}</h5>
                </div>
                <div itemprop="description">{{ prod.getDescription() | raw }}</div>
                {% if customFields %}
                    <div class="f-tab-heading">
                        <h5 class="f-tab-title">{{ 'Additional Info'|_ }}</h5>
                    </div>
                    {% for cf in customFields %}
                        <div class="form-group" style="overflow: hidden">
                            <label class="col-md-2 control-label">{{ cf.set_name |_ }}</label> <br>
                            {% for field in cf.fields %}
                                <div class="col-md-12">
                                    <label class="control-label">{{ field.field_name ~": "~ field.value |_ }}</label>
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                {% endif %}
            </section>

            {{ THIS.view('prodreviews/product-details').set('prod', prod) | raw }}

        </div>
    </div><!-- /.f-prod-info -->
</div>
<br/>
{% for link in productLinks %}
    {% if link.products %}
        <div class="f-widget f-widget-featured-prods">
            <header class="f-widget-header">
                <strong class="f-widget-title">{{ link.title }}</strong>
            </header>

            {{ THIS.view('catalog/product/grid-tiles').set('products', link.products) | raw }}

        </div><!-- /.f-widget -->
    {% endif %}
{% endfor %}

{% if recentlyViewed %}
    <!-- You may also like -->
    <div class="f-widget f-widget-featured-prods">
        <header class="f-widget-header">
            <strong class="f-widget-title">{{ "You recently viewed these items"|_ }}</strong>
        </header>

        {{ THIS.view('catalog/product/grid-tiles').set('products', recentlyViewed) | raw }}

    </div>
{% endif %}

{{ THIS.view('catalog/product/quickview') | raw }}

<script>
    require(['jquery', 'responsiveslides', 'jquery.zoom'], function ($) {
        var pager = $('#product-rslides-pager');
        $("#product-rslides").responsiveSlides({
            auto: false,
            speed: 500,
            nav: true,
            namespace: "f",
            manualControls: '#product-rslides-pager'
        });
        $('#product-rslides li').addClass('zoom').zoom();
    })
</script>
